

/*整体*/
*
{
    font-family: 'microsoft yahei', Verdana, Arial, Helvetica, sans-serif;
    font-size: 100%;

    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
html,
body,
div,
p,
ul,
li,
dl,
dt,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
form,
input,
select,
button,
textarea,
iframe,
table,
th,
td
{
    margin: 0;
    padding: 0;

    list-style: none;
}
body
{
    font-family: 'microsoft yahei', Verdana, Arial, Helvetica, sans-serif;
}



img
{
    max-width: 100%;
}

fieldset,
img
{
    border: 0;
}

ol,
ul,
li
{
    list-style: none;
}

address,
em
{
    font-style: normal;
}

a
{
    text-decoration: none;

    color: #000;
}

a:hover
{
    text-decoration: none;
}

table
{
    border-collapse: collapse;
}

input
{
    font-family: 'microsoft yahei', Verdana, Arial, Helvetica, sans-serif;
}

em,
i
{
    font-style: normal;
}


/* 通用 */

.clear
{
    clear: both;

    margin: 0;
    padding: 0;

    border: 0;
}
.line-text-hide
{
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.item-xq-bg li 
{
    border-bottom: 1px solid #dbdada;
    background: url(../images/teacher/xq.png) right no-repeat;
    background-origin: content-box;
    background-size: 30px;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    /* padding-right: 7px; */
    background-color: #fff;
    padding: 0 5px;
}
.item-more-bg li
{
    border-bottom: 1px solid #dbdada;
    background: url(../images/more_1.png) right no-repeat;
    background-origin: content-box;
    background-size: 15px;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    /* padding-right: 7px; */
    background-color: #fff;
    padding: 0 5px;
}
.notice
{

padding: 10px 15px;

text-align: left;
}
.notice >  div
{

border: 1px solid #cecece;

padding: 1px 34px;

border-radius: 8px;

background: url(../images/notice.png);

background-repeat: no-repeat;

background-size: 20px;

background-position: 8px;

height: 21px;

overflow: hidden;
}
/* 图标 */
.icon
{
    display: inline-block;
    width: 25px;
    height: 25px;
    vertical-align: top;
}
.icon-vip
{
    background: url(../images/user/vip.png) no-repeat;
    background-size: 25px;
    width: 30px;
    text-align: center;
}
.icon-add
{
    position: absolute;
    right: 10px;
    margin-top: 1px;
    width: 17px;
    height: 17px;
    background: url(../images/add.png) no-repeat;
    background-size: 17px;
    border-radius: 50%;
    border: 1px solid #a6a6a6;
}
.icon-add1
{
    margin-top: 3px;
    margin-left: 5px;
    width: 15px;
    height: 15px;
    background: url(../images/add_1.png) no-repeat;
    background-size: 15px;
    border-radius: 50%;
    border: 1px solid #000000;
}
.icon-add2
{
    margin-top: 3px;
    margin-left: 5px;
    width: 20px;
    height: 20px;
    background: url(../images/add_3.png) no-repeat;
    background-size: 20px;
    border-radius: 50%;
    /* border: 1px solid #000000; */
}
.icon-more
{
    background: url(../images/bottom_1.png) no-repeat;
    background-size: 25px;
    width: 30px;
    text-align: center;
}
.icon-more1
{
    background: url(../images/bottom_2.png) no-repeat;
    background-size: 15px;
    width: 15px;
    text-align: center;
    vertical-align: middle;
    margin-top: 7px;
    margin-left: 2px;
}
.icon-i1
{
    background: url(../images/user/i1.png) no-repeat;
    background-size: 25px;
    width: 30px;
    text-align: center;
}

.icon-i2
{
    background: url(../images/user/i2.png) no-repeat;
    background-size: 25px;
    width: 30px;
    text-align: center;
}
.icon-i3
{
    background: url(../images/user/i3.png) no-repeat;
    background-size: 25px;
    width: 30px;
    text-align: center;
}
.icon-i4
{
    background: url(../images/user/i4.png) no-repeat;
    background-size: 25px;
    width: 30px;
    text-align: center;
}
.icon-line-more
{
    background: url(../images/more_1.png) no-repeat;
    background-size: 15px;
    width: 15px;
    height: 15px;
    text-align: center;
    margin-top: 4px;
    /* position: absolute; */
}

/* 表单 */
.login-form-item
{
    padding: 8px 10px;

    border-bottom: 1px solid #d2d2d4;
    background-color: #fff;
}
.login-form-item label
{
    display: inline-block;
    width: 70px;
    margin-right: 6px;
}

.login-form-item input[type='text']
{
    border: 0;
    width: 67%;
}

.login-btn button
{
    font-size: 17px;
    width: 100%;
    margin-top: 10px;
    padding: 4px 50px;
    color: #fff;
    border: 0;
    border-radius: 4px;
    background-color: #f08504;
}

.login-form-item textarea
{
    
display: block;
    
width: 100%;
    
height: 100px;
    
resize: none;
    
margin-top: 5px;
    
/* border: 0; */
    
border: 1px solid #d2d2d4;
}


/* 按钮 */
.teacher-more 
{

text-align: center;

/* margin: 7px 5px; */

margin-top: 10px;

font-size: 13px;

cursor: pointer;
}
.teacher-more a
{
color: #9c9c9c;
    display: inline-block;
}
.teacher-more  i
{
    background: url(../images/bottom_1.png);
    background-repeat: no-repeat;
    display: inline-block;
    width: 20px;
    height: 20px;
    background-size: 17px;
    vertical-align: middle;
}
.order-btn
{

text-align: right;

margin-right: 10px;

/* margin-top: 10px; */

padding-top: 10px;
}
.order-btn a
{
    
background-color: #ef7f0c;
    
color: #fff;
    
padding: 5px 10px;
    
border-radius: 5px;
}

/*  开关 */
.toggle
{
    position: relative;
    display: block;
    width: 50px;
    height: 28px;
    background-color: #fff;
    border: 2px solid #ddd;
    border-radius: 20px;
    -webkit-transition-duration: .2s;
    -moz-transition-duration: .2s;
    transition-duration: .2s;
    -webkit-transition-property: background-color,border;
    -moz-transition-property: background-color,border;
    transition-property: background-color,border;
}

.toggle .toggle-handle
{
    position: absolute;
    top: -1px;
    left: -1px;
    z-index: 2;
    width: 28px;
    height: 28px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 100px;
    -webkit-transition-duration: .2s;
    -moz-transition-duration: .2s;
    transition-duration: .2s;
    -webkit-transition-property: -webkit-transform,border,width;
    -moz-transition-property: -moz-transform,border,width;
    transition-property: transform,border,width;
}


.toggle.active
{
    background-color: #f5925b;
    border: 2px solid #f5925b;
}

.toggle.active .toggle-handle
{
    border-color: #f5925b;
    -webkit-transform: translate3d(44px,0,0);
    -ms-transform: translate3d(44px,0,0);
    transform: translate3d(22px,0,0);
}

/* 页面“ */
.container
{
    min-width: 320px;
    max-width: 640px;
    margin: 0 auto;
}



/* header */
.header
{
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;

    width: 100%;
    height: 30px;
    padding: 10px 0;

    text-align: center;
    
    background-color: #00afec;
    box-shadow: 0 1px 1px 0 #dedede;
}
.header .back
{
    background: url(../images/back.png) no-repeat;
    background-position: 5px;
    background-size: 30px;
    position: absolute;
    left: 5px;
    width: 30px;
    height: 21px;
    padding: 5px;
    color: #fff;
}
.header .back.t1
{
    width: 90px;
}
.header .title
{
    font-size: 18px;
    line-height: 32px;
    padding: 0;
    color:#fff;
}
.header .user
{
    background: url(../images/user.png) center no-repeat;
    /* background-position: 9px; */
    background-size: 25px;
    position: absolute;
    left: 55px;
    width: 30px;
    height: 21px;
    padding: 5px;
    color: #fff;
    /* background-position: 5px; */
}

.header .message
{
    background: url(../images/message.png)  center no-repeat;
    background-size: 25px;
    position: absolute;
    right: 5px;
    width: 30px;
    height: 21px;
    padding: 5px;
    color: #fff;
}


/*  招募 */
/*  通用 */
.teacher-top-nav a
{

font-size: 17px;

color: #fff;

padding: 10px 35px;

cursor: pointer;

line-height: 33px;
}
.teacher-top-nav a.active
{
    border-bottom: 3px solid #fc9c09;
}
.teacher-bottom-nav
{

text-align: center;

margin: 15px 0;
}
.teacher-bottom-nav div
{
    
display: inline-block;
    
/* width: 60px; */
    
/* height: 60px; */
    
background-color: #ffffff;
    
border: 1px solid #000;
    
/* margin: 0px 15px; */
    
line-height: 30px;
    
margin-right: 10px;
    
padding: 0px 13px;
    
/* font-size: 15px; */
    
color: #000;
}
.teacher-bottom-nav div a
{

font-size: 14px;
}


/* 左侧隐藏栏  */
.left-hide-column-bg
{
    
display: none;
    
color: #333333;
    
    
background: rgba(70, 70, 70, 0.8);
    
width: 100%;
    
height: 100%;
    
position: absolute;
    
left: 0px;
    
top: 0;
    
overflow: hidden;
    
z-index: 99998;
    
transition: all 0.5s;
}
.left-hide-column-bg
{

}
.left-hide-column
{
    display: block;
    color: #333333;
    background-color: #fff;
    width: 230px;
    height: 100%;
    position: absolute;
    left: -250px;
    top: 0;
    overflow: hidden;
    z-index: 99999;
    transition: all 0.5s;
}

.left-hide-column.show
{
    
left: 0;
}
.left-hide-column .bar1
{

text-align: center;

margin-top: 35px;
}
.left-hide-column .bar1 img
{

width: 65px;
}
.left-hide-column .bar1 p
{

margin: 5px;
}
.left-hide-column .bar1 span
{

}
.left-hide-column .bar2
{

margin-top: 30px;

margin-bottom: 30px;
}

.left-hide-column .bar2 a
{

color: #333333;


display: block;

padding-left: 40px;

margin-bottom: 15px;
}
.left-hide-column .bar3
{

margin-left: 15px;
}

.left-hide-column .bar3 a
{
    color: #333333;
    display: inline-block;
    text-align: center;
    margin-bottom: 15px;
    margin-right: 12px;
    width: 56px;
}
.left-hide-column .bar3 a img 
{

width: 30px;

border: 1px solid #a8a8a8;

padding: 3px;

border-radius: 50%;
}
.left-hide-column .bar3 a p
{
    
color: #656565;
    
font-size: 14px;
}





/* page */
.page
{
    padding: 0 10px;
}




/* footer */
.footer
{

}